/**
 ## Portfolio CSS
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

.vl {
    border-left: 6px solid green;
    height: 50px;
    float: right;
}
  
  body {
    font-size: 24px;
    border: 2px solid #000000;
    background-color: #fff;
  }
  
  #logo {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
    float: left; 
  }

  #about-pic {
      height: 200px;
      width: 200px;
      float: left; 
  }
  
  section {
    padding: 20px;
    margin-bottom: 20px;
  }
  
  #about {
    float: right;
    width: 100px;
    color: #505050;
    background-color: #fff;
  }
  
  #portfolio {
    float: right;
    width: 100px;
    color: #505050;
    background-color: #fff;
  }
  
  #contact {
    float: right;
    width: 100px;
    color: #505050;
    background-color: #fff;
  }
  
  #full {
    width: 100%;
    background-color: #eee;
    clear: both;
    overflow: auto;
  }
  
  #division {
    background: #6ea3da;
    padding: 20px; 
    margin-top: 20px;
  }
  
  aside {
    background-color: #fff;
    width: 33%;
    height: 200px;
    border: 1px solid #eee;
    padding: 20px;
    float: left; 
    margin-left: 30px;
  }
  
  footer {
    clear: both;
    background-color: #ccc; 
    padding: 20px;
  }
  